@media (max-width: 800px) {
  #films h1 {
    font-size: 2.5rem;
    margin-bottom: var(--padding-large);
  }
  #films h4 {
    font-size: 0.85rem;
  }
  #films h3 {
    font-size: 1.1rem;
  }
  #films h5 {
    font-size: 1rem;
  }
  #films,
  #films p,
  #films i {
    font-size: 0.65rem;
  }

  #disclaimer {
    line-height: 0.75rem;
  }

  #films .card {
    margin-top: var(--padding-large);
    gap: var(--padding-large) !important;
  }

  #films .clickable-gallery .film-card img {
    width: 450px;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 500px) {
  #films .card-buttons {
    flex-direction: column;
    gap: var(--padding-medium);
    align-items: stretch;
  }

  #films .clickable-gallery .film-card img {
    width: 350px;
    height: auto;
    object-fit: contain;
  }
}

#films h1 {
  width: 100%;
  text-align: center;
  margin-top: var(--padding-large);
}

#films #disclaimer {
  width: 100%;
  text-align: center;
  margin-top: var(--padding-large);
  padding: 0px var(--padding-large);
}

#films .card {
  margin: var(--padding-large);
  margin-top: var(--padding-medium);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--padding-medium);
  padding: var(--padding-large);
  text-align: center;
}

.film-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.film-card h2 {
  margin-top: var(--padding-medium);
}

.film-card h4 {
  margin-top: 2px;
}

.film-card p {
  margin-top: 10px;
}
