.clickable-gallery {
  position: relative;
}

.clickable-gallery-buttons {
  width: 100%;
  position: absolute;
  top: calc(50% - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-medium);
  z-index: 2; /* Ensure buttons are above images */
}

.clickable-gallery-content {
  display: flex;
  gap: var(--padding-large);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--padding-large) 0;
  position: relative;
}

.scrollable-gallery-content::-webkit-scrollbar {
  display: none;
}

.clickable-gallery-item img {
  width: 600px;
  height: 750px;
  object-fit: cover;
  border-radius: var(--border-radius-large);
  display: block;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .clickable-gallery-item img {
    width: 350px;
    height: 440px;
  }
}

@media (max-width: 600px) {
  .clickable-gallery-item img {
    width: 180px;
    height: 230px;
  }
  .clickable-gallery-content {
    gap: var(--padding-medium);
  }
}
